<div class="entry">
  <%= image_tag entry.display_thumb_nail, class: 'entry-image' if entry.image.attached? %> 
  <div class="entry-title">
    <%= entry.title %>
  </div>
  <div class="entry-date">
    <%= entry.created_at.strftime("%d-%m-%Y") %> 
  </div>
  <div class="entry-links">
    <%= link_to 'view entry', entry_path(entry) %> 
    <% if controller.controller_name == 'static_pages' && controller.action_name == 'admin' %> 
      <%= link_to 'delete entry',
                  entry, method: :delete,
                  class: 'delete-entry-btn',
                  data: { confirm: "Are you sure?" } 
      %> 

      <%= link_to 'edit entry', edit_entry_path(entry),class: 'edit-entry-btn' %> 
    <% end %> 
  </div>
  <div class="entry-abstract">
    <%= entry.abstract %>
  </div>

</div>
