<div class="container social">
  <table>
    <tr>
      <th>Home</th>
      <th>All Entries</th>
      <th>Email</th>
      <th>Github</th>
      <th>Twitter</th>
    </tr>
    <tr>
      <td>
        <%= link_to image_tag("home.svg", id: "home-icon", class: "header-icon"), root_path  %> 
      </td>
      <td>
        <%= link_to image_tag("blogs.svg", id: "blogs-icon", class: "header-icon"), entries_path %> 
      </td>
      <td>
        <a href="mailto:gtforsyth91@gmail.com">
         <%= image_tag "email.svg", id: "social-email-icon", class: "header-icon" %>
        </a>
      </td>
      <td>
        <a href="https://github.com/GarrettForsyth">
         <%= image_tag "github.svg", id: "social-github-icon", class: 'header-icon'%>
        </a>
      </td>
      <td>
       <a href="https://twitter.com/forsyth_garrett">
         <%= image_tag "twitter.svg", id: "social-twitter-icon", class: 'header-icon'%>
       </a>
      </td>
    </tr>
  </table>
  <ul class="hidden">
    <li>
      <a href="mailto:gtforsyth91@gmail.com">
        gtforsyth91@gmail.com
      </a>
    </li>
    <li>
      <a href="https://github.com/GarrettForsyth">
        /GarrettForsyth
      </a>
    </li>
    <li>
      <a href="https://twitter.com/forsyth_garrett">
        @forsyth_garrett
      </a>
    </li>
  </ul>
</div>
